<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>#User</th>
      <th>#Category</th>
      <th>Title</th>
      <th>Body</th>
      <th>Ispriv</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.id %></td>
        <td><%= activity.user.name %></td>
        <td><%= activity.category.body %></td>
        <td><%= activity.title %></td>
        <td><%= activity.body %></td>
        <td><%= activity.ispriv %></td>
        <td><%= activity.date %></td>
        <td><%= activity.time %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
