<p id="notice">
  <%= notice %>
</p>

<h1><%=@cus%></h1>
<h1 class="text-center">Attività</h1>


<div class="row d-none">
  <div class="col">
    <h4>Filter activity by:{<%=@filters%>}</h4>
  </div>
  <form action="/activities" onsubmit=" applyFilters();">
    <input type="text" id="filterActivitiesInput" , oninput="updateFilter(this)" id="filter" name="filter">
    <input type="submit" id="filterActivitiesButton" , onclick="console.log(this)">
  </form>
  <script>
    let link = "/activities?filter="
    let filter = "";

    function updateFilter(input) {
      filter = input.value
      console.log(filter);
    }

    function applyFilters() {
      //return false;
      window.open(link + filter, "_self")
    }
  </script>
</div>

<% @activities.each do |activity| %>
<%#=activity.inspect%>
<%# if user_signed_in? && !activity.ispriv || user_signed_in? && activity.user.id == current_user.id %>
<div class="activity p-4 my-3" style="background-color:#3282B8; border-radius:30px;" onclick="window.open('<%=edit_activity_path(activity)%>','_self')">
  <div class="row">
    <div class="col col-md-10">
      <div class="row">
        <div class="col col-12">
          <span>
            <!--<i class="bi bi-lock padlock"></i>-->
            <% if activity.ispriv %>
            <img src="/assets/lock.svg" class="padlock">
            <% else %>
            <img src="/assets/unlock.svg" class="padlock">
            <% end %>
            <span class="h4">
              <%= activity.title %>
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col col-12"><%= activity.body%></div>
      </div>
      <div class="row">
        <div class="col col-12"> <% if  activity.time? %><%= activity.time %>min, il<% end %>
          <%= activity.created_at.to_s.split(" UTC")[0] %>
        </div>
      </div>
    </div>
    <div class="col col-md-2">
      <% if activity.user.image.attached? %><%= image_tag(activity.user.image, class:"image-tag-activity") %><% end %>
      <%= activity.user.name.split(" ")[0] %>
      <% if user_signed_in? && activity.user.id == current_user.id %>
      <img src="/assets/pen" class="d-none d-sm-inline">
      <% end %>
      <br><%= activity.hashtag %> <%#= activity.category.body %></div>
  </div>
</div>
<%# end %>
<% end %>
<%=@json%>